* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #8b8685, #3d393d);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  width: 350px;
  padding: 30px 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
}

.container h1 {
  margin-bottom: 20px;
}

.user input,
.password input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px 5px;
  margin: 15px 0;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
  border: 1px solid #333;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #333;
  color: white;
}

/* POPUP */
.popup {
  width: 300px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  margin: 20px 0 10px;
}
/* Blur effect */
.page-content.blur {
  filter: blur(6px);
  pointer-events: none; /* disable clicks */
  user-select: none;
}

/* Dark overlay for better effect */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

body.show-overlay::after {
  opacity: 1;
}
